/* .carousel-item {
    height: 960px;
} */

.carousel-item { height: auto !important;}

.carousel-image {
    background: rgba(255,255,255, 0.1);
    filter: brightness(60%);
}

.video-wrapper {
    margin: 3.5rem auto 0;
    background: url('../images/bg_video_profil.png');
    width: 80%;
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.video {
    width: 90%;
    height: 440px; 
}

.video-title {
    font-size: 36px;
}

/* Responsive */
@media screen and (max-width: 992px) {
    .carousel-item { height: auto !important;}
    .video-wrapper { width: 90%;}
    .video { height: 300px; }
    .video-title { font-size: 28px; }
}

@media screen and (max-width: 768px) {
    .video { height: 200px; }
    .video-title { font-size: 24px; }
}

@media screen and (max-width: 576px) {
    .video-title { font-size: 20px; }
}